<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #weatherContainer {
            display: flex;
            flex-wrap: wrap;
        }

        #weatherTable {
            flex: 1;
            margin-right: 20px;
        }

        .map-container {
            flex: 2;
            padding-left: 20px;
        }

        #map {
            height: 400px;
        }

        .weather-icon {
            width: 30px;
            height: 30px;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px 0;
            background-color: #575757;
            color: white;
            text-align: center;
        }

        .form-container {
            text-align: center;
            margin-top: 20px;
        }

        .form-container input[type="text"] {
            width: 100%;
            max-width: 400px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .form-container button[type="submit"] {
            background-color: #575757;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .card-title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .list-group-item {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">WeatherApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2"
            aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searchlogs">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="form-container">
            <form id="weatherForm" action="/" method="post">
                <input type="text" id="cityName" name="cityName" placeholder="Enter city name" required>
                <button type="submit">Get Weather</button>
            </form>
        </div>
    </div>

    <div class="container" id="weatherContainer">
        <div id="weatherTable">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="weatherCity">Weather in City Name</h5>
                    <p class="card-text" id="weatherDescription">Weather description goes here...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="weatherTemperature">Temperature: --</li>
                    <li class="list-group-item" id="weatherWind">Wind: --</li>
                    <li class="list-group-item" id="weatherHumidity">Humidity: --</li>
                    <li class="list-group-item" id="weatherPressure">Pressure: --</li>
                    <li class="list-group-item" id="weatherClouds">Cloudiness: --</li>
                    <li class="list-group-item" id="weatherSunrise">Sunrise: --</li>
                    <li class="list-group-item" id="weatherSunset">Sunset: --</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3 map-container">
            <div class="card-header">
                Map
            </div>
            <div id="map"></div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Weatherbit Data
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="weatherbitTemperature">Temperature (Weatherbit): --</li>
            <li class="list-group-item" id="weatherbitDescription">Description (Weatherbit): --</li>
        </ul>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Tomorrow.io Weather Data
        </div>
        <div class="card-body">
            <h5 class="card-title" id="tomorrowIoTemperature">Temperature (Tomorrow.io): --</h5>
        </div>
    </div>

    <div class="container" id="weatherContainer">
        <% if (data && data.data && data.data.length > 0) { %>
            <table class="table">
                <thead>
                    <% data.data.forEach((day, index) => { %>
                        <tr>
                            <th>Valid date</th>
                            <th>Minimum temperature(°C) / Maximum temperature(°C)</th>
                            <th>Wind speed (m/s)</th>
                            <th>Relative Humidity</th>
                            <th>Weather Icon</th>
                        </tr>
                    <% }); %>
                </thead>
                <tbody id="forecastTableBody">
                </tbody>
            </table>
        <% } else { %>
            <p>No weather data available.</p>
        <% } %>
    </div>

    <footer class="bg-light-gray text-white text-center p-3">
      <div class="footer-content">
          <p>&copy; 2024 WeatherApp full name: Batyr Raiymbek, SE-2202</p>
      </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
    <script>
      document.getElementById('weatherForm').addEventListener('submit', function (event) {
          event.preventDefault();
          const city = document.getElementById('cityName').value;
          fetchWeather(city); 
          fetch14DayWeatherForecast(city); 
      });
    </script>
</body>
</html>