/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Navbar styles */
.navbar {
    background-color: #343a40 !important;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #ffffff !important;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
}

/* Card styles */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
    color: #343a40;
}

/* Chart styles */
#cryptoChart {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Footer styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #343a40;
    color: white;
    text-align: center;
}
.btn-primary {
    border-radius: 0;
    background-color: #808080; /* Grey color */
    border-color: #808080; /* Matching border color */
}
